### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

*.dll

# Executables
*.exe
*.out
*.app

# Created by .ignore support plugin (hsz.mobi)

.idea/
CMakeLists.txt

src_client_ai/lib/luawrap/lua-5.3.2/src/*.c
src_client_ai/lib/luawrap/lua-5.3.2/src/*.h